@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

:root{
  --red:#EE3623;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    border:none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
    transition:.2s linear;
    list-style: none;
}

*::selection{
    background:var(--red);
    color:#fff;
}
  
html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
}

header .menu{
    position: fixed;
    top:20px; right:20px;
    font-size: 30px;
    color:var(--red);
    background:#fff;
    box-shadow: 1px 2px rgba(0,0,0,.3);
    padding:5px 10px;
    cursor: pointer;
    z-index: 1000;
    overflow: hidden;
  }
header .navbar{
    height: 100vh;
    width:450px;
    position: fixed;
    top:0; right:0;
    background:#111;
    z-index: 100;
    display: none;
  }
header .navbar.active{
    display: block;
}
header .navbar ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height:100%;
  list-style: none;
}

header .navbar ul li{
  margin:1.4rem;
  animation:fadeIn .2s linear backwards;
  animation-delay: calc(.3s * var(--i));
}  
@keyframes fadeIn{
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
}

header .navbar ul li a{
  font-size: 35px;
  color:#fff;
}

header .navbar ul li a:hover{
  color:var(--red);
}

.fa-times{
  transform:rotate(180deg) skew(-180deg);
}
.home{
  position: relative;
  min-height: 50vh;
  z-index: 0;
}

.home .video-container video{
  position: absolute;
  top:0; left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.home .content{
  min-height: 100vh;
  width: 450px;
  background:rgba(255,255,255,.1);
  backdrop-filter: blur(8px);
  text-align: center;
  padding:20px 30px;
}

.home .content h1{
  font-size: 40px;
  padding-top: 15px;
  color:#fff;
  text-transform: uppercase;
}

.home .content h3{
  font-size: 30px;
  color:#eee;
  font-weight: lighter;
}

.home .content .form-container form{
  width: 100%;
  background:#fff;
  padding: 15px 30px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
}

.home .content .form-container form h3{
  font-size: 23px;
  padding:20px 10px;
  color:#333;
  font-weight: 400;
  text-transform: uppercase;
}

.home .content .form-container form span{
  font-size: 20px;
  display: block;
  padding:10px 0;
  color:var(--red);
  text-align: left;
}

.home .content .form-container form input{
  height:35px;
  width: 100%;
  padding:0 10px;
  font-size: 15px;
  background:#eee;
}

.home .content .form-container form .btn{
  width: 160px;
  background-color: var(--red);
  margin:12px 0;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px var(--red);
  opacity: .7;
}

.heading{
  text-align: center;
  padding:5px 10px;
  padding-top: 35px;
  font-size: 45px;
  color:var(--red);
  text-transform: uppercase;
}

.title{
  text-align: center;
  padding:0 15px;
  font-size: 28px;
  color:#666;
  font-weight: 300;
}
.feature{
  background: #2C3A47;
}

.feature .title{
  color:#eee;
}
.feature .card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:20px 0;
}
.feature .card-container .card{
  height:450px;
  width:300px;
  margin:20px 10px;
  position: relative;
  overflow: hidden;
}
.feature .card-container .card img{
  height:100%;
  width:100%;
  object-fit: cover;
}

.feature .card-container .card .info{
  height:100%;
  width: 100%;
  position: absolute;
  bottom:-100%; left: 0;
  background:linear-gradient(transparent, #000);
  padding: 0 2rem;
  padding-top: 85%;
}

.feature .card-container .card:hover .info{
  bottom:0%;
}

.about .row{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin:10px auto;
  padding:10px;
}

.about .row .image img{
  height:320px;
  width:350px;
  margin-right: 30px;
  margin-left: 30px;
}

.about .row .content h3{
margin-top: 10px;
  font-size: 30px;
  color:var(--red);
}

.about .row .content p{
  font-size: 16px;
  color:#666;
  padding:1rem 0;
}

.about .box-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .box-container .box{
  margin:30px;
  height:200px;
  width:300px;
  border-radius: 8px;
  background:var(--red);
  text-align: center;
  color: #fff;
}

.about .box-container .box i{
  font-size: 60px;
  margin:2rem 0;
}

.about .box-container .box h3{
  font-size: 30px;
}
.about .btn{
    height: 35px;
    width: 150px;
    background: var(--red);
    color: #fff;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    margin: 15px 0;
    box-shadow: 0 3px 5px var(--red);
    opacity: .7;
}

.gallery{
    background:#f9f9f9;
  }
  
  .gallery .box-container{
    padding:20px 0;
  }
  
  .gallery .box-container .box{
    width:75%;
    margin:45px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    overflow: hidden;
    background:#fff;
  }
  
  
  .gallery .box-container .box .image{
    height: 350px;
    width:50%;
  }
  
  .gallery .box-container .box .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  
  .gallery .box-container .box .content{
    height: 100%;
    width:50%;
    padding:32px;
  }
  
  .gallery .box-container .box:nth-child(even){
    flex-flow: row-reverse;
  }
  
  .gallery .box-container .box:nth-child(even) .content{
    text-align: right;
  }
  
  .gallery .box-container .box .content h3{
    color:var(--red);
    font-size: 40px;
  }
  
  .gallery .box-container .box .content p{
    color:#666;
    font-size: 20px;
    padding:10px 0;
  }
  .gallery .btn{
    height: 35px;
    width: 150px;
    background: var(--red);
    color: #fff;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 0;
    box-shadow: 0 3px 5px var(--red);
    opacity: .7;
  }
  .gallery .btn:hover{
    opacity: 1;
  }

  .review .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:32px 0;
  }
  
  .review .box-container .box{
    width: 350px;
    text-align: center;
    padding: 0 20px;
    margin:40px 20px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
  }
  
  .review .box-container .box i{
    font-size: 80px;
    margin-top: -40px;
    color:var(--red);
    opacity: .4;
  }
  
  .review .box-container .box p{
    color:#666;
    font-size: 18px;
    padding:30px 0;
  }
  
  .review .box-container .box .user{
    display: flex;
    align-items: center;
    text-align: left;
    padding:8px 0;
    border-top: 2px solid #3334;
  }
  
  .review .box-container .box .user img{
    height:100px;
    width:120px;
    border-radius: 50%;
    object-fit: cover;
    margin:10px 16px;
  }
  
  .review .box-container .box .user .info h3{
    color:var(--red);
    font-size: 18px;
  }
  
  .review .box-container .box .user .info span{
    color:#666;
    font-size: 15px;
  }
  .newsletter{
    background:var(--red);
    padding:30px;
  }
  
  .newsletter .box{
    width: 100%;
    padding:30px;
    text-align: center;
    border-radius: 1rem;
    background:#f9f9f9;
  }
  
  .newsletter .box h1{
    color:var(--red);
    font-size: 45px;
  }
  
  .newsletter .box p{
    color:#666;
    font-size: 20px;
  }
  
  .newsletter .box form{
    background:#eee;
    width:60%;
    margin:30px auto;
    padding:5px 0;
    height:60px;
    border-radius: 40px;
    display: flex;
    align-items: center;
  }
  
  .newsletter .box form input[type="email"]{
    width: 71%;
    background:none;
    padding:8px;
    font-size: 20px;
    margin-left: 10px;
  }
  
  
  .newsletter .box form .btn{
    height:90%;
    width: 26%;
    border-radius: 50px;
    margin:12px 0;
    box-shadow: none;
  }
  .newsletter .btn{
    background: var(--red);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    opacity: .7;
  }
  .contact{
    background: #2C3A47;
  }
  
  .contact .title{
    color:#eee;
  }
  .contact form{
    width:80%;
    text-align: center;
    padding:50px 0;
    margin:0 auto;
  }
  
  .contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact form .inputBox input{
    width: 49%;
    height:40px
  }
  
  .contact form input, textarea{
    padding:0 10px;
    font-size: 15px;
    margin:10px 0;
    color:#333;
  }
  
  .contact form textarea{
    padding:15px;
    height:200px;
    resize: none;
    width: 100%;
  }
  
  .contact form .btn{
    height: 45px;
    width: 150px;
    background: var(--red);
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: none;
    color: #fff;
    opacity: 1;
  }
  
  .contact form .btn:hover{
    opacity: .8;
  }
  
  .footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px 0;
  }
  
  .footer .box{
    width:300px;
    margin:20px;
    text-align: center;
  }
  
  .footer .box:nth-child(1){
    text-align: left;
  }
  
  .footer .box h3{
    font-size: 35px;
    color:var(--red);
    padding:10px 0;
  }
  
  .footer .box p{
    color:#666;
    font-size: 15px;
  }
  
  .footer .box a{
    color:#666;
    font-size: 20px;
    display: block;
    padding:4px 0;
  }
  
  .footer .box a:hover{
    text-decoration: underline;
  }
  
  .footer .credit{
    width: 85%;
    padding-top: 15px;
    font-size: 15px;
    color:#666;
    text-align: center;
    border-top: 3px solid #3333;
  }
  
  .footer .credit span{
    color:var(--red);
  }
  
  /* media queries  */
  
  @media (max-width:500px){
  
    html{
      font-size: 50%;
    }
  
    .home .content{
      width: 100%;
    }
  
    .contact form{
      width: 90%;
    }
  
    .contact form .inputBox input{
      width: 100%;
    }
  }
  
  @media (max-width:768px){
  
    html{
      font-size: 55%;
    }
  
    .about .row{
      flex-flow: column;
      width:90%;
    }
  
    .about .row .image img{
      width: 90vw;
    }
  
    .gallery .box-container .box{
      flex-flow: column;
      width: 90%;
    }
  
    .gallery .box-container .box:nth-child(even){
      flex-flow: column;
    }
  
    .gallery .box-container .box .image{
      width: 100%;
    }
  
    .gallery .box-container .box .content{
      width: 100%;
    }
  
    .gallery .box-container .box:nth-child(even) .content{
      text-align: left;
    }
  
    .newsletter .box form{
      width: 100%;
    }
  
  }
